apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    run: hello-app
  name: hello-app
  namespace: default
spec:
  replicas: 5
  selector:
    matchLabels:
      run: hello-app
  template:
    metadata:
      labels:
        run: hello-app
    spec:
      containers:
      - image: danberg/hello-app:latest
        name: hello-app
---
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: hello-app
      tier: web
    name: hello-app
    namespace: default
  spec:
    ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
    selector:
      app: hello-app
      tier: web
    sessionAffinity: None
    type: NodePort
